@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	width: 100%;
}

.Container {
	display: flex;
	height: 100vh; /* Full viewport height */
	width: 100vw;  /* Full viewport width */
}

.left-container {
	min-width: 40vw;
	max-width: 50vw;
	flex-basis: 50%;
	padding-left: 10vw;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
}

.right-container {
	min-width: 20vw;
	max-width: 50vw;
	flex-basis: 50%;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px 0px 0px 20px;
}

.lblName{
	font-size: 16px;
	padding: 5px;
}

.top{
	font-size: 30px;
	padding-bottom: 40px;
	font-weight: 700;
}

.txtName{
	display: block;
	margin-bottom: 20px;
	font-size: 14px;
	padding: 12px;
	width: 404px;
	border-radius: 15px;
	border-color: rgb(221, 221, 221);
	border-style: solid;
}

button {
	width: 100%;
	max-width: 404px;
	padding: 10px;
	font-size: 16px;
	border-radius: 18px;
	border: solid;
	border-color: rgb(197, 196, 196);
}

.btnSignup{
	background-color: rgb(54, 53, 53);
	color: white;
	font-weight: bold;
	border: none;
}

#or {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
  position: relative;
  width: 404px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#or::before,
#or::after {
  position: absolute;
  width: 170px;
  height: 1px;
  top: 24px;
  background-color: #aaa;
  content: '';
}

#or::before {
  left: 0;
}

#or::after {
  right: 0;
}

.social-buttons {
	width: 404px;
	display: flex;
	gap: 10px; 
	margin-top: 10px;
}

.btnGoogle, .btnApple {
	max-width: 250px;
	padding: 10px;
	font-size: 15px;
	flex: 1; 
	text-align: center;
	border-width: 1px;
}

.account-text {
	margin-top: 15px;
	margin-left: 120px;
	font-size: 14px;
	display: flex; 
	gap: 5px; 
	align-items: center;
}

.signup-link {
	color: blue; 
	text-decoration: underline; 
	cursor: pointer;
}

